:root {
  --light : #707793;
  --dark : #2E3047 ;
}

body {
    background-color:  #3C3F58 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 14px;
    /* background-color: var(--light)  */
}


header{
  background-color: var(--dark) ;
  
  display: flex ;
  color: black;
  border-radius: 4px ;
  padding: 7px;
  font-weight: 700 ;
  font-size: 19px;
  align-items: center;
  position: sticky ;
}
.header-menu{
  /* background-color: red; */
  /* text-align: center ; */
  padding: 0px;
  color: none ;
  width: 30px;
  height: 30px;;;
  border-radius: 50%;
  justify-content: center ;
  align-items: center;
  display: flex ; 
  
}
.header-content{
  background-color: none;
  color: white;
  width: 100% ;
  text-align: center;
}

.continue{
  display: inline-table;
}

sidebar {
  margin: 10px 0 ;
  padding: 0;
  display: block;
  position: fixed;
  z-index: 3;
  background-color: white;
  height: 97%;
  width: 300px;
  top: 0px;
  left: 0px;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-left: 0px;
  background-color: white;
  transition: all 1s ease-in-out;
  border: 3px solid #3BB9AC;
  font-size: 20px;
  
  
  
}
.sidebar::hover {
  width: 150px ;
}


